{% from "flights/components/flight_route.html" import render_flight_route %}
{% from "flights/components/flight_info.html" import render_flight_info %}

{% macro render_flight_card(flight, search_time) %}
{% from "flights/components/price_part.html" import price_part with context %}
<div class="card my-4 shadow-sm overflow-hidden">
    <div class="row g-0">
        <!--  -->
        <!--  -->
        <!--  -->
        {{ render_flight_route(flight, class='col-md-4 p-2') }}
        <!--  -->
        <!--  -->
        <!--  -->
        {{ render_flight_info(flight, class='col-md-4 p-2 border-start') }}
        <!--  -->
        <!--  -->
        <!--  -->
        <div class="col-md-4 d-flex flex-wrap flex-fill">
            {{ price_part(endpoint='bookings.reserve_ticket',flight=flight.id) }}
        </div>
    </div>
</div>
{% endmacro %}