{% from 'layouts/field.html' import render_select_field, render_text_field %}

<div class="find">
  <div class="form-container">
    <form method="GET" action="{{ url_for('flights.searchFlights') }}">
      <!-- Trip Type Selection -->
      <div class="row mb-3">
        <div class="col-12">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="tripType"
              id="oneway"
              value="oneway"
              required
              checked
            />
            <label class="form-check-label" for="oneway">One Way</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="tripType"
              id="roundtrip"
              value="roundtrip"
            />
            <label class="form-check-label" for="roundtrip">Round Trip</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="tripType"
              id="multi"
              value="multi"
            />
            <label class="form-check-label" for="multi"
              >Multi Destination</label
            >
          </div>
        </div>
      </div>

      <!-- Flight Details -->
      <div class="row g-3 align-items-end justify-content-center">
        <div class="col-lg-3 col-sm-6">
          {{render_select_field(form.departure_airport)}}
        </div>
        <div class="col-lg-3 col-sm-6">
          {{render_select_field(form.arrival_airport)}}
        </div>
        <div class="col-lg-2 col-sm-6">
          {{render_text_field(form.departure_date)}}
        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="input-group">
            <input
              type="date"
              id="return"
              name="return"
              class="form-control"
              disabled
            />
            <label for="return" class="form-label">Return:</label>
          </div>
        </div>
        <div class="col-lg-2 col-12 h-100">
          {{form.submit(class="btn btn-primary d-flex align-items-center p-2 w-100",style='height:46px')}}
        </div>
      </div>
    </form>
  </div>
</div>
<script src="{{ url_for('static', filename='js/searchBox.js') }}"></script>
