{% set active_page = active_page|default('home') -%}


<header class="shadow sticky-top">
  <nav
    class="navbar navbar-expand-lg navbar-home shadow"
    aria-label="Eleventh navbar example"
  >
    <div class="container">
      <div class="col-2">
        <a class="navbar-brand" href="{{url_for('main.home')}}"
          ><img
            class="header_brand"
            src="{{url_for('static',filename='images/iconDark.svg')}}"
            alt=""
        /></a>
      </div>
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarsExample09 , #adminSidebarMenu"
        aria-controls="navbarsExample09"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarsExample09">
        <ul
          class="navbar-nav me-auto mb-2 mb-lg-0 col-lg-9 justify-content-center"
        >
          <li class="nav-item">
            <a class="nav-link {% if active_page == 'home'%}active{%endif%}" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link {% if active_page == 'search'%}active{%endif%}"
              aria-current="page"
              href="{{url_for('flights.searchFlights')}}"
              >Book Flights</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link {% if active_page == 'booking'%}active{%endif%}"
              aria-current="page"
              href="{{url_for('bookings.manage_own_bookings')}}"
              >Manage Bookings</a
            >
          </li>
          {% if current_user.is_authenticated and current_user.role.value == 1 %}
          <li class="nav-item">
            <a
              class="nav-link {% if active_page == 'admin'%}active{%endif%}"
              aria-current="page"
              href="{{url_for('admin.index')}}"
              >Admin</a
            >
          </li>
          {% endif %}
          <li class="nav-item">
            <a
              class="nav-link {% if active_page == 'about'%}active{%endif%}"
              aria-current="page"
              href="{{url_for('main.about')}}"
              >About</a
            >
          </li>
          {% if current_user.is_authenticated and (current_user.role.value == 1 or current_user.role.value == 2)
          %}
          <li class="nav-item">
            <a class="nav-link {% if active_page == 'schedule'%}active{%endif%}" aria-current="page" href="/schedule"
              >Flight Scheduling</a
            >
          </li>
          {% endif %}
        </ul>
        {% if current_user.is_authenticated %}
        <ul class="navbar-nav col-lg-3">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle d-flex align-items-center justify-content-lg-end {% if active_page == 'account'%}active{%endif%}"
              href="#"
              id="dropdown06"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="{{current_user.avatar}}"
                alt="avatar"
                class="col-2 me-1 avatar-circle shadow"
              />
              {{current_user.first_name + " " + current_user.last_name}}</a
            >
            <ul
              class="dropdown-menu navbar__account-menu"
              aria-labelledby="dropdown06"
            >
              <li>
                <a class="dropdown-item" href="{{url_for('auth.profile')}}"
                  >Profile</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="{{url_for('auth.logout_process')}}"
                  >Log out</a
                >
              </li>
            </ul>
          </li>
        </ul>
        {% else %}
        <div class="header-auth d-lg-flex col-lg-3 justify-content-lg-end">
          <a
            href="{{url_for('auth.login')}}"
            class="btn col-12 col-lg-6 btn-primary-invert"
            >Log in</a
          >
          <a
            href="{{url_for('auth.signup')}}"
            class="btn btn-primary ms-lg-2 col-12 col-lg-6 mt-lg-0 mt-2"
            >Sign up</a
          >
        </div>
        {% endif %}
      </div>
    </div>
  </nav>
</header>
