{% from 'layouts/field.html' import render_text_field %}
{% from 'layouts/field.html' import render_select_field %}

{% extends 'layouts/base.html' %}
{% set active_page = 'schedule' %}
{% block extra_css %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/flightScheduling.css')}}">
{% endblock extra_css %}
<!--  -->
<!--  -->
<!--  -->
{% block content %}
<div class="container my-5 min-vh-100">
    <form action="" method="post" class="card">
        {{form.hidden_tag()}}
        <div class="card-header">
            <h3 class="card-title fw-bold">Schedule Flight</h3>
        </div>
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-12 col-sm-6">
                    {{render_text_field(form.flight_code, class = 'col-12')}}
                </div>
                {{render_select_field(form.aircraft, class='col-12 col-sm-6 mb-3')}}
            </div>
            <div class="row mb-2">
                {{ render_select_field(form.departure_airport, class='col-12 col-sm-6') }}
                {{ render_select_field(form.arrival_airport, class='col-12 col-sm-6 mt-1 mt-sm-0') }}
            </div>
            <div class="row mt-4">
                <div class="col-12 col-sm-6">{{render_text_field(form.departure_time)}}</div>
                <div class="col-12 col-sm-6 mt-3 mt-sm-0">{{render_text_field(form.arrival_time)}}</div>
            </div>
        </div>
        <div class="card-body border-top">
            <h4 class="card-title">Stopovers</h4>
            <div class="stopovers-container">

            </div>
            <div class="row stopover-add">
                <div class="col-1">
                    <button class="btn btn-success w-100" type="button">+</button>
                </div>
                <div class="col-11 remaining-stopover-text" style="align-content: center;">(Remaining: {{max_stopover_airports}})</div>
            </div>
        </div>
        <div class="card-footer">
            {{form.submit(class='btn btn-primary')}}
            <a href="{{url_for('main.home')}}" class="btn btn-primary-invert">Cancel</a>
        </div>
        <input type="hidden" name="stopovers_num" value=0/>
    </form>
</div>
{% endblock content %}
<!--  -->
<!--  -->
<!--  -->
{% block scripts %}
<script>
    async function fetchAirports() {
        const response = await fetch("{{url_for('flights.get_airports')}}");
        const data = await response.json();
        return data;
    }
    async function fetchCountries() {
        const response = await fetch("{{url_for('flights.get_countries')}}");
        const data = await response.json();
        return data;
    }
    function getCountryByID(countries, id) {
        return countries.find(country => country.id === id);
    }

    function populateAirportSelect(selectField, airports, countries) {
        Promise.all([airports, countries]).then(([airports, countries]) => {
            airports.forEach(airport => {
                const option = document.createElement('option');
                option.value = airport.id;
                option.textContent = `${airport.name} (${airport.code}) - ${getCountryByID(countries, airport.country_id).name}`;
                selectField.appendChild(option);
            });
            $('.selectpicker').selectpicker('refresh');
        });
    }

    function setFieldAndLabelAttributes(field, label, id, labelText, index) {
        field.name = `${id}_${index}`;
        field.id = `${id}_${index}`;
        label.htmlFor = `${id}_${index}`;
        label.textContent = `${labelText} ${index}`;
    }

    function reIndexStopovers() {
        const stopovers = document.querySelectorAll('.stopover');
        stopovers.forEach((stopover, index) => {
            const stopoverSelect = stopover.querySelector('select');
            const stopoverLabel = stopover.querySelector('.stopover-label');
            setFieldAndLabelAttributes(stopoverSelect, stopoverLabel, 'stopover_airport', 'Stopover Airport', index + 1);

            const stopoverArrivalTime = stopover.querySelector('input[name^="stopover_arrival_time_"]');
            const stopoverArrivalTimeLabel = stopover.querySelector('label[for^="stopover_arrival_time_"]');
            setFieldAndLabelAttributes(stopoverArrivalTime, stopoverArrivalTimeLabel, 'stopover_arrival_time', 'Arrival Time', index + 1);
            
            const stopoverDepartureTime = stopover.querySelector('input[name^="stopover_departure_time_"]');
            const stopoverDepartureTimeLabel = stopover.querySelector('label[for^="stopover_departure_time_"]');
            setFieldAndLabelAttributes(stopoverDepartureTime, stopoverDepartureTimeLabel, 'stopover_departure_time', 'Departure Time', index + 1);

            const stopoverNotes = stopover.querySelector('input[name^="stopover_notes_"]');
            const stopoverNotesLabel = stopover.querySelector('label[for^="stopover_notes_"]');
            setFieldAndLabelAttributes(stopoverNotes, stopoverNotesLabel, 'stopover_notes', 'Notes', index + 1);
        });
    }

    function removeStopover(stopover) {
        stopover.remove();
        stopoverCount--;
        remainingStopoverText.textContent = `(Remaining: ${maxStopoverAirports - stopoverCount})`;
        addStopoverBtn.disabled = false;
    }

    const airports = fetchAirports();
    const countries = fetchCountries();

    const addStopoverBtn = document.querySelector('.stopover-add button');
    const stopoversContainer = document.querySelector('.stopovers-container');
    const remainingStopoverText = document.querySelector('.remaining-stopover-text');
    const maxStopoverAirports = {{max_stopover_airports}};
    let stopoverCount = 0;

    addStopoverBtn.addEventListener('click', () => {
        if (stopoverCount >= maxStopoverAirports) {
            addStopoverBtn.disabled = true;
            return;
        }
        stopoverCount++;
        remainingStopoverText.textContent = `(Remaining: ${maxStopoverAirports - stopoverCount})`;
        const stopover = document.createElement('div');
        stopover.classList.add('row', 'stopover');
        stopover.innerHTML = `
            <div class="row mb-4">
                <div class='col-1'>
                    <button class="btn btn-danger w-100 h-100" type="button">-</button>
                </div>
                <div class='col-5 position-relative'>
                    <label for="stopover_airport_${stopoverCount}" class="position-absolute top-0 translate-middle-y stopover-label">Stopover Airport ${stopoverCount}</label>
                    <select name="stopover_airport_${stopoverCount}" id="stopover_airport_${stopoverCount}" class="selectpicker" data-live-search="true" title='Select stopover airport' required></select>
                </div>
                <div class='col-3 position-relative'>
                    <label for="stopover_arrival_time_${stopoverCount}" class="position-absolute top-0 translate-middle-y stopover-label">Arrival Time ${stopoverCount}</label>
                    <input type="datetime-local" name="stopover_arrival_time_${stopoverCount}" id="stopover_arrival_time_${stopoverCount}" class="form-control" placeholder="Stopover Time" required>
                </div>
                <div class='col-3 position-relative'>
                    <label for="stopover_departure_time_${stopoverCount}" class="position-absolute top-0 translate-middle-y stopover-label">Departure Time ${stopoverCount}</label>
                    <input type="datetime-local" name="stopover_departure_time_${stopoverCount}" id="stopover_departure_time_${stopoverCount}" class="form-control" placeholder="Stopover Time" required>
                </div>
                <div class='col-1'></div>
                <div class='col-11 mt-3 position-relative'>
                    <label for="stopover_notes_${stopoverCount}" class="position-absolute top-0 translate-middle-y stopover-label">Notes ${stopoverCount}</label>
                    <input type="text" name="stopover_notes_${stopoverCount}" id="stopover_notes_${stopoverCount}" class="form-control">
                </div>
            </div>
            `
        stopoversContainer.appendChild(stopover);
        // Disable add stopover button if max stopover airports reached
        if (stopoverCount === maxStopoverAirports) {
            addStopoverBtn.disabled = true;
        }
        const stopoverSelect = stopover.querySelector('select');
        populateAirportSelect(stopoverSelect, airports, countries);

        const removeStopoverBtn = stopover.querySelector('button');
        removeStopoverBtn.addEventListener('click', () => {
            removeStopover(stopover);
            reIndexStopovers();
        });
    });
    const submitBtn = document.getElementById('submit');
    submitBtn.addEventListener('click', () => {
        document.querySelector('input[name="stopovers_num"]').value = stopoverCount;
    });
</script>
{% endblock scripts %}
